body {
  margin: 0;
  overflow: hidden;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

canvas {
  position: absolute;
}
svg {
  position: absolute;
  display: none;


 }
.link-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.link-button {
  background-color: #ee5282;
  color: white;
  padding: 12px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.link-button:hover {
  transform: scale(1.1);
  background-color: #ff6fa0;
}